<h2>Schwierigkeit</h2>
<form [formGroup]="gameSettingsForm" (ngSubmit)="submitSettings()">
  <label *ngFor="let setting of Setting.getListOfSettings(); index as index">
    <input type="radio" formControlName="difficulty" [value]="index"/>
    {{ setting.name }}
  </label>
  <button type="submit">Neues Spiel starten</button>
  <button [disabled]="gameOverCondition" (click)="surrenderGame($event)">
    Aufgeben
  </button>
</form>
