@import 'src/styles';
@import 'src/app/neon.component';

input[type="radio"] {
  display: none;
}

label {
  background-color: $backgroundColor;
  border: 1px solid $border;
  color: $mainColor;
  cursor: pointer;
  display: block;
  font-size: 24px;
  margin: 5px auto;
  padding: 20px;
  width: 50%;

  &:has(> input:checked) {
    border: 1px solid $primaryColor;
    color: $primaryColor;
  }
}

button {
  margin-top: 20px;
}
