@import 'src/styles';
@import 'src/app/neon.component';

div {
  aspect-ratio: 1 / 1;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  font-size: 128px;
  line-height: 164px;
  margin: 0 auto 0;
  padding: 64px 128px 0;
  text-align: center;
  text-shadow: 5px 5px 5px $mainColorShadow;
  width: 256px;

  span {
    color: $secondaryColor;
    text-shadow: 5px 5px 5px $secondaryColorShadow;
  }

  small {
    color: $primaryColor;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 2px 2px 2px $primaryColorShadow;
  }
}
