@import 'src/styles';

h1, h2 {
  color: $mainColor;
}

h1 {
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 2px 2px 2px $backgroundColor;
}

h2 {
  border-bottom: 1px solid $mainColor;
}

.board {
  background-color: $backgroundColor;
  border: 1px solid $mainColor;
  border-radius: 16px;
  box-shadow: 5px 5px 5px $mainColorShadow;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #000000;
  border-radius: 32px;
  color: $mainColor;
  font-size: 20px;
  padding: 5px 10px;
  text-shadow: 2px 2px 2px $backgroundColor;

  &:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  &:disabled {
    color: $border;
    cursor: not-allowed;
  }
}
