<h1>{{ title }}</h1>

<section class="board">
  <div *ngFor="let field of fields; index as i" [attr.data-field]="i" (click)="checkField(i)">
    <span *ngIf="field; else preview" [class]="'format' + field">
      {{ field }}
    </span>
    <ng-template #preview>
      <span *ngIf="!gameOverCondition" class="preview" [class]="'format' +  currentPlayer.name">
        {{ currentPlayer.name }}
      </span>
    </ng-template>
  </div>
</section>

<section id="gameStatus">
  <div>
    <span *ngIf="!gameOverCondition; else gameOverMessage">
      <span id="turnDescription">
        Aktuell am Zug
      </span>
      <span id="playerTurn" [class]="'player' + currentPlayer.name">
        {{ currentPlayer.name }}
      </span>
    </span>
    <ng-template #gameOverMessage>
      {{ gameOverCondition }}
    </ng-template>
  </div>
  <div>
    <button (click)="resetGame()">Neues Spiel starten</button>
  </div>
</section>
