@import 'src/styles';
@import 'src/app/neon.component';

.board {
  width: 600px;

  & > div {
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    cursor: not-allowed;
    height: 196px;
    line-height: 196px;
    margin: 2px;
    text-align: center;
    width: 196px;

    & > span {
      font-size: 192px;

      &.formatX {
        color: $primaryColor;
        text-shadow: 3px 3px 3px rgba(248, 255, 149, 0.6);
      }

      &.formatO {
        color: $secondaryColor;
        text-shadow: 3px 3px 3px rgba(166, 255, 150, 0.6);
      }
    }

    .preview {
      display: none;
    }

    &:hover {
      .preview {
        cursor: cell;
        display: block;
        opacity: 0.5;
      }
    }
  }
}

#gameStatus {
  color: $mainColor;
  display: flex;
  font-size: 28px;
  justify-content: space-around;
  margin: 25px auto 0;
  text-align: center;
  text-shadow: 2px 2px 2px $backgroundColor;
  width: 600px;

  & > div {
    width: 50%;
  }

  #turnDescription {
    display: block;
    margin: 0 0 5px;
    text-decoration: underline;
  }

  #playerTurn {
    font-size: 32px;
  }

  .playerX {
    color: $primaryColor;
  }

  .playerO {
    color: $secondaryColor;
  }

}
