<div class="board">
  <div class="row" *ngFor="let row of solutionFields; index as indexX">
    <div class="col" *ngFor="let col of row; index as indexY" (click)="this.selectField($event)">

      <ng-container *ngIf="this.visibleFields.length">

        <span *ngIf="this.visibleFields[indexX][indexY] !== 0; else placeableField"
              class="fixed">
          {{ col }}
        </span>

        <ng-template #placeableField>
          <span class="placeable"
                [class.cellActive]="activeCell && (activeCell[0] === indexX && activeCell[1] === indexY)"
                [attr.data-row]="indexX" [attr.data-col]="indexY">
            {{ playersFields[indexX][indexY] !== 0 ? playersFields[indexX][indexY] : '' }}
          </span>
        </ng-template>

      </ng-container>

    </div>
  </div>
</div>
