@import 'src/styles';
@import 'src/app/neon.component';

$thickBorder: 3px solid $mainColor;

.board {
  margin: 0 auto;
  text-align: center;
  width: 576px;

  .row {
    &:nth-of-type(3), &:nth-of-type(6) {
      border-bottom: $thickBorder;
    }

    .col {
      box-sizing: border-box;
      border: 1px solid $border;
      display: inline-block;
      float: left;
      height: 64px;
      overflow: hidden;
      width: 64px;

      &:has(.fixed) {
        cursor: not-allowed;
      }

      span {
        color: $primaryColor;
        font-size: 48px;
        font-weight: bold;
        line-height: 64px;
        text-shadow: 3px 3px 3px $primaryColorShadow;

        &.placeable {
          color: $secondaryColor;
          display: inline-block;
          cursor: pointer;
          height: 64px;
          text-shadow: 3px 3px 3px $secondaryColorShadow;
          width: 64px;

          &.cellActive {
            background-color: $border;
          }
        }
      }

      &:nth-of-type(3), &:nth-of-type(6) {
        border-right: $thickBorder;
      }
    }
  }
}
