body {
  background: #000000 url("/assets/bg.jpg") no-repeat fixed center;
  background-size: cover;
  color: #FFFFFF;
  font-family: "Arial Narrow", sans-serif;
  margin: 80px 0 0;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #666666;
  display: flex;
  height: 40px;
  justify-content: space-around;
  line-height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  color: rgb(188, 122, 249);
  display: block;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
nav a:hover {
  background-color: rgba(50, 50, 50, 0.5);
}

::selection {
  background-color: rgba(166, 255, 150, 0.6);
}

/*# sourceMappingURL=styles.css.map */
