<h1>{{ title }}</h1>

<div class="interface">

  <aside aria-label="gameDifficulty" id="gameDifficulty">
    <app-difficulty
      [gameOverCondition]="!this.playersFields.length && !gameOver"
      (setting)="startNewGame($event)" (surrender)="surrender($event)"
    ></app-difficulty>
  </aside>

  <main>
    <app-board
      [solutionFields]="solutionFields" [visibleFields]="visibleFields" [playersFields]="playersFields"
      (selectedField)="selectField($event)"
    ></app-board>
  </main>

  <aside aria-label="numberPlacement" id="numberPlacement">
    <div class="gameOverMessage" *ngIf="gameOver.length; else numberField">
      <span *ngIf="gameOver === 'success'">🥳</span>
      <span *ngIf="gameOver === 'failed'">😞</span>
    </div>
    <ng-template #numberField>
      <div *ngIf="selectedField && selectedField.length > 0" id="numberField">
        <button *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0];" (click)="setField(i)"
                [class.selected]="i === playersFields[selectedField[0]][selectedField[1]]">
          {{ i === 0 ? '' : i }}
        </button>
      </div>
    </ng-template>
  </aside>

</div>
