@import 'src/styles';
@import 'src/app/neon.component';

.interface {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;

  aside {
    width: 300px;
    margin: 0 10px;
    text-align: center;

    &#numberPlacement {

      #numberField {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin: 0 20px;

        & > button {
          aspect-ratio: 1 / 1;
          background-color: #000000;
          font-weight: bold;
          text-shadow: none;
          width: 30%;

          &.selected, &:hover {
            color: $secondaryColor;
          }

          &:hover {
            font-size: 48px;
          }
        }
      }

      .gameOverMessage {
        font-size: 128px;
      }
    }
  }

}
